/vendor
/node_modules
/resources/assets/bower
/public/build
/public/css
/public/js
/public/img
/public/fonts
.env
composer.lock
sftp-config.json
npm-debug.log
.flooignore
.floo
.remote-sync.json
oracle.sqlite
