<div class="navbar navbar-inverse navbar-static-top" ng-controller="LayoutNavbarController as vm">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="static:home" class="navbar-brand">Falcon Frag</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="static:home">
                    <a ui-sref="static:home">Home</a>
                </li>
                <li ui-sref-active="users:login" ng-if=!vm.isAuthed>
                    <a ui-sref="users:login">Login</a>
                </li>
                <li ng-if=vm.isAuthed>
                    <a ng-click=vm.logout()>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>